extends layout

block content
    p
        | Tactic Wars - игра для программистов. Ваша задача - используя JavaScript запрограммировать отряд
        | из пехоты, лучников и баллист для сражения с подобными отрядами других пользователей.
    #index-blog
        h2= __i('blog')
        ol
            li: a(href="/blog/hello-world") Как создать свой первый отряд
            li: a(href="/blog/debug") Пара способов отладки
            li: a(href="/blog/api") Tactic Wars API
    #index-replays
        h2= __i('header.last-replays')
        ul.replay-list
            each replay in replays
                li
                    p
                        a(href='/replay/' + replay.id)= replay.publish1Name + ' (' + replay.publish1Rate + ') VS. ' + replay.publish2Name + ' (' + replay.publish2Rate + ')'
                    p
                        span= replay.result + ' '
                        span.date= replay.time.format('dd-mm-yyyy HH:MM')