!!! 5
html
    head
        title Tactic wars
        base(href="/")
    block styles
        link(rel="stylesheet", type="text/css", href="/public/layout.css")
        link(rel="stylesheet", type="text/css", href="/public/colors.css")
    block scripts
        script(type="text/javascript", src="/lib/require-jquery.js")
        script(type="text/javascript", src="/public/common.js")
        script(type="text/javascript")
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-30602782-1']);
            _gaq.push(['_trackPageview']);

            (function() {
              var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
              ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

    body
        #menubar
            a(href='/')= __i('home-page')
            if user
                &#32;
                a(href='/mypage')= __i('my-page')
                form
                    a(href='/mypage')= __i('hello-username', user.email)
                    &#32;
                    a(href='/logout')= __i('logout')
            else
                form(method="post", action="/login")
                    p= __i('auth-caption')
                    .login-fields
                        label
                            span= __i('promt-email')
                            input(name="email")
                        label
                            span= __i('promt-password')
                            input(name="password", type="password")
                    button(type="submit", name="action", value="login")= __i('button-login')
                    &#32;
                    button(type="submit", name="action", value="register")= __i('button-register')
            &#32;
            a(href='/rating')= __i('user-rating')
            !{message}
        #content
            block content