extends layout

block content
    #profile
        h2= __i('profile')
        .rate= __i('rate') + ': ' + 1200
        #my-cohorts
            h2= __i('my-cohorts')
            .cohort-list
                .cohort
                    a(href='/cohort/1/edit') test cohort1
                    |&nbsp;
                    a(href='/cohort/1/setout')= __i('set-out')
                    |&nbsp;
                    a(href='/cohort/1/replays', title=__i('view-replays'))= 1200
                .cohort
                    a(href='/cohort/2/edit') test cohort2
                    |&nbsp;
                    a(href='/cohort/2/setout')= __i('set-out')
                    |&nbsp;
                    a(href='/cohort/1/replays', title=__i('view-replays'))= 1200
            .create
                a(href='/cohort/create')= __i('cohort-create')
    #my-setouts
        h2= __i('my-setouts')
        .cohort-list
            .cohort
                span test cohort1 (19.03.2012)
                |&nbsp;
                a(href='/setout/1/replays', title=__i('view-replays'))= 1200
            .cohort
                span test cohort2 (17.03.2012)
                |&nbsp;
                a(href='/setout/2/replays', title=__i('view-replays'))= 1200
    #last-replays
        h2
            = __i('last-replays')
        ul
            li: a(href='/replay/2') last replay
            li: a(href='/replay/1') previous replay