extends layout

block content
    #profile
        h2= __i('profile')
        .rate= __i('rate') + ': ' + 1200
        #my-cohorts
            h2= __i('my-cohorts')
            .cohort-list
                each cohort in cohorts
                    .cohort
                        a(href='/cohort/'+cohort.cohort_id+'/edit')= cohort.cohort_name
                        |&nbsp;
                        a(href='/cohort/'+cohort.cohort_id+'/setout')= __i('set-out')
            .create
                a(href='/cohort/create')= __i('cohort-create')
    #my-setouts
        h2= __i('my-setouts')
        ul.cohort-list
            each publish in publishes
                li(class='cohort' + (publish.active ? '' : ' inactive'))
                    span= publish.name + ' (' + publish.date.format('dd-mm-yyyy HH:MM') + ')'
                    |&nbsp;
                    a(href='/setout/' + publish.id + '/replays', title=__i('view-replays'))= publish.rate
                    p
                        span.battles= __i('publish.battles') + ': ' + publish.battles
    #last-replays
        h2
            = __i('last-replays')
        ul
            each replay in replays
                li
                    p
                        a(href='/replay/' + replay.id)= replay.publish1Name + ' VS. ' + replay.publish2Name
                    p
                        span= replay.result + ' '
                        span.date= replay.time.format('dd-mm-yyyy HH:MM')