extends ../layout

append styles
    link(rel="stylesheet", href="/lib/codemirror/codemirror.css")

append scripts
    script(src="/public/cohort-edit.js")
    script(src="/lib/codemirror/codemirror.js")
    script(src="/lib/codemirror/javascript.js")

block content
    h1= __i('cohort-edit')
    .code-editor
        h2= __i('code-editor')
        input(type="hidden",name="cohort_id",value=cohort.id)
        = __i('label.code-select')
        select(name="tactic")
            option(value="none") none
        = __i('label.code-name')
        input(name="name")
        | &nbsp;
        button#save Save
        textarea(id="code-src", name="src")
        p
            a(href="/help/api", target="_blank") API Help
        p
            | В выпадающем списке выше представлены все ваши программы (стратегии и тактики). Создать новую программу
            | вы можете выбрав соотвествующий пункт в этом же выпадающем списке. Редактирование любой
            | программы отражается на всех отрядах использующий её, кроме уже выставленных на бои.
    .edit-field
        h2 Игровое поле
        div
            Выберите противника:
            select(name="enemy")
                each enemy in cohorts
                    option(value=enemy.cohort_id)= enemy.cohort_name
            = __i('label.enemy-strategy')
            select(name="enemy-strategy")
        canvas(id="field",width="600",height="300")
        .controls
            = __i('label.unit-tactic')
            select(name="unit-tactic")
            = __i('label.cohort-strategy')
            select(name="cohort-strategy")
        .controls
            button(class="step")= __i('play-step')
            button(class="all")= __i('play-all')
            button(class="pause")= __i('button.pause')
            button(class="restart")= __i('button.restart')
        p
            | Во время тренеровок вы можете выбрать противника только из своих отрядов. Чтобы сразиться с другими
            | пользователями, запрограммируйте свой отряд, отладьте его и выставите на бои. Система сама проведет
            | серию сражений с чужими отрядами, после чего вы сможете посмотреть повторы и ваш рейтинг.
        p
            | Отряд в нижней части поля, это выбранный вами отряд для программирования. С помощью выпадающих списков
            | "стратегия противника", "стратегия отрядя" и "тактика юнита" и вы можете изменить программу-стратегию противника,
            | программу-стратегию программируемого отрядя и программу-тактику выбранного юнита соответственно. При этом
            | изменения для программируемого отряда немедленно сохраняются в базу, а изменения для отряда противника
            | действуют только в течении текущего сражения и будут сброшены перезагрузкой страницы или началом нового
            | сражения.